<div class="plant-list">
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre Común</th>
        <th>Tipo</th>
        <th>Clima</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let plant of plants">
        <td>{{plant.id}}</td>
        <td>{{plant.nombre_comun}}</td>
        <td>{{plant.tipo}}</td>
        <td>{{plant.clima}}</td>
      </tr>
    </tbody>
  </table>

  <div>
    <h3>Total de plantas de interior: {{totalInterior}}</h3>
    <h3>Total de plantas de exterior: {{totalExterior}}</h3>
  </div>
</div>



